* {
    box-sizing: border-box;
}

box {
    margin: 0;
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

canvas {
    image-rendering: pixelated;
}